.boxy {
  padding: 15px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
}

.padder {
  padding: 20px;
}

.catalog-menu {
  .header {
    padding: 0 0 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c9c9c9;
  }
}

.box-statistic {
  border-radius: 3px;
  padding: 15px;
}
