.page-home {
}

.page-requests {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .requests-box {
    width: 60%;
    border: 1px solid $grayLight;
    background-color: $graySuperLight;
    border-radius: 3px;

    .banner {
      padding: 15px;
      background-color: $blueDark;
    }

    .content {
      padding: 10px 0;
    }
  }
}

.page-request-details {
  .release-box {
    display: flex;
    flex-direction: row;
    height: 100%;

    .left {
      height: 100%;
      max-width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      .info {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .thumbnail {
          width: 180px;
          height: 180px;
        }

        .title-wrapper {
          text-align: center;
          padding: 10px 5px;

          .title {
            margin-bottom: 5px;
          }
        }
      }
    }

    .right {
      flex: 1;
      height: 100%;
      padding: 20px 40px;

      .tracks {
        width: 60%;
      }

      .actions {
        width: 60%;
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;

        > :not(:last-child) {
          margin-right: 10px;
        }
      }

      .track-box {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 10px;

        .header {
          padding: 10px 20px;
          background-color: $blueDark;
          color: $white;
          font: $shortBig;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .title {
            flex: 1;
            padding-right: 10px;
          }
        }

        .content {
          display: table;
          border-collapse: collapse;

          width: 100%;

          .item-wrapper {
            display: table-row;
            border: 1px solid $grayLight;

            .item {
              display: table-cell;
              padding: 10px 20px;
              font: $shortRegular;

              &.audio {
                display: flex;
                flex-direction: row;

                > * {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.page-delegate-curator {
  display: flex;
  flex-direction: row;
  padding: 20px;

  .input-box {
    flex: 1;
    margin-right: 15px;
  }

  .result-box {
    flex: 2;

    .content {
      border: 1px solid $grayLight;
      border-radius: 3px;
      background-color: $graySuperLight;
      padding: 20px;
    }
  }
}

.page-reports {
  .report-details {
    .thumbnail {
      width: 50px;
      height: 50px;
    }
  }
}

.page-revenue {
  .annual {
    margin-bottom: 20px;
  }

  .box-statistic {
    box-shadow: 0 0 5px #00000073;
  }
}

.empty-text {
  font: $shortSmall;
  font-style: italic;
}
