@import '../../assets/styles/colors';

.player {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'nav-bar body quick-access'
    'play-bar play-bar play-bar';
  overflow: hidden;

  &__top {
    grid-area: body;
    height: 40px;
    background-color: $blackGray;
    z-index: 2;
  }

  &__nav {
    grid-area: nav-bar;
    width: 200px;
    background-color: $blackLight;
  }

  &__quick-access {
    grid-area: quick-access;
    width: 200px;
    background-color: $blackLight;
  }

  &__bottom {
    grid-area: play-bar;
    height: 100px;
    background-image: $blackPop;
  }

  &__content {
    grid-area: body;
    background-color: $blackGray;
    margin-top: 40px;
  }

  .nav-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 20px;

    .linear-nav {
      display: flex;
      align-items: center;
      min-width: 60px;
      justify-content: space-between;

      .svg-nav {
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .nav-menu {
    .user-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 30px 0px 15px;

      .avatar-box {
        height: 65px;
        width: 65px;
        position: relative;
        overflow: visible;

        img {
          height: inherit;
          width: inherit;
          border-radius: 50%;
        }

        &__layer {
          position: absolute;
          height: inherit;
          width: inherit;
          top: 0;
          left: 0;
          border-radius: 50%;
          background-color: $blackBlur;
          display: none;

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
          }

          .context-menu {
            a {
              padding: 15px 50px 15px 30px;
            }
          }
        }

        &:hover {
          .avatar-box__layer {
            display: block;
          }
        }
      }

      .user-title {
        padding: 10px;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        color: $white;
        text-align: center;
      }
    }

    .menu {
      a,
      span {
        display: flex;
        align-items: center;
        padding: 10px 15px;

        svg {
          margin: 0px 10px;
        }
      }
    }

    .quick-menu {
      a {
        display: block;
        padding: 15px 0px 10px 65px;
      }
    }

    .artist-box {
      padding: 20px;
    }
  }

  .quick-access {
    &__role {
      display: flex;
      justify-content: center;
      align-items: center;

      .role-free {
        margin: 10px 0;
      }

      .role-premium {
        padding: 20px;
        width: 100%;
        text-align: center;
        background-color: $blueMain;
      }

      .role-artist {
        padding: 20px;
        width: 100%;
        text-align: center;
        background-color: $purple;
      }
    }

    &__playlists {
      .banner {
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        background-color: $black;

        svg {
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .now-playing-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: inherit;
    max-height: 100px;
    padding: 0px 20px;

    &__left {
      width: 16%;
      min-width: 150px;
      height: inherit;
    }
    &__middle {
      width: 62%;
      max-width: 900px;
    }
    &__right {
      width: 18%;
      min-width: 180px;
    }

    svg {
      cursor: pointer;

      &:hover path {
        fill: $white;
      }
    }
  }

  .now-playing {
    height: 100%;
    padding: 20px 0px;
    display: flex;

    &__cover-container {
      height: inherit;
      width: 60px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__info {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      padding: 20px 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      > *:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__action {
      max-width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .ivb-progress-bar {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0px 5px;

    &:hover {
      .ivb-progress-bar__full {
        height: 0.4em;
      }

      .ivb-progress-bar__thumb {
        display: block;
      }
    }
    &__full {
      width: 100%;
      height: 0.25em;
      background: $grayDark;
      border-radius: 3px;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &__progress {
      position: absolute;
      height: inherit;
      background-color: $blueMain;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
    }

    &__thumb {
      position: absolute;
      height: 10px;
      width: 10px;
      background-color: $grayLight;
      border-radius: 50%;
      margin-left: -5px;
      left: 0px;
      display: none;
    }
  }

  .player-controls {
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 100px;

    &__action {
      display: flex;
      flex-direction: row;
      width: 150px;
    }

    &__progress {
      display: flex;
      flex: 1;
    }
  }

  .extra-controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .extra-controls {
      width: 180px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .control-wrapper {
      svg {
        height: 22px;
        width: auto;
      }
    }

    .control-volume {
      min-width: 100px;
      display: flex;
      align-items: center;
    }
  }
}
