.browse-general {
  .releases {
    padding-bottom: 10px;
  }

  .playlists-collections {
    padding: 0 40px;
  }
}

.browse-releases {
  .header {
    padding: 0 0 20px;
  }
}

.browse-header {
  padding: 10px 40px;
  background-color: $blackMain;
}
