.browse-header {
  padding: 10px 40px;
  background-color: $blackBlueLight;
}

.browse-genres {
  padding: 20px 0;
}

.browse-general {
  .releases {
    margin-bottom: 10px;
  }

  .playlists-collections {
    padding: 0 40px;
  }
}
