.playlist-dialog-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $blackBlurDark;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  .playlist-dialog {
    padding: 0 20px;
    background-image: $blackPop;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.74);
    position: relative;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &__header {
      text-align: center;
      padding: 20px 0 15px;
    }

    &__body {
      flex: 1;
      display: flex;
      flex-direction: row;
      padding: 0 0 20px;

      .left {
        flex: 2;
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        width: 350px;

        &__playlist-title-input {
          margin-bottom: 10px;
        }

        &__playlist-desc-input {
          flex: 1;
        }
      }

      .right {
        &__cover {
          margin-bottom: 10px;
          cursor: pointer;

          &:hover {
            opacity: 0.5;
          }

          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
}

.genre-list-dialog-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blackBlurDark;
  z-index: 999;

  .genre-list-dialog {
    background-color: $white;
    padding: 20px;
    border-radius: 5px;

    .genre-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 10px;

      .genre-item {
        padding: 15px 10px;
        border: 1px solid $grayDark;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        width: 120px;
        word-wrap: break-word;

        &:hover {
          transform: scale(1.02);
        }

        &.selected {
          background-color: $grayDark;
          color: $white;
        }
      }
    }
  }
}

.screen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $blackBlurDark;
  z-index: 999;
  padding: 50px;
  overflow-x: hidden;
  overflow-y: auto;

  .close {
    position: absolute;
    right: 50px;
  }

  .browse-playlists {
    width: 100%;
  }
}

.action-notification {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  animation-name: fader;
  animation-duration: 2s;
  z-index: 1000;

  @keyframes fader {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
