.track-list {
  &__header {
    display: flex;
    flex-direction: row;
    height: 200px;

    .avatar {
      width: 200px;
      height: 200px;
      overflow: hidden;
      position: relative;

      img {
        width: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 0px 10px 30px;

      &__top {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .description {
          margin: 10px 0;
          overflow-y: auto;
        }
      }

      &__bottom {
        .dot {
          margin: 0 5px;
        }
      }
    }
  }
  &__action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .action {
      display: flex;
      flex-direction: row;
      align-items: center;

      > :not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.manage-release {
  .release-details {
    margin-bottom: 30px;

    .content {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: relative;

      > :not(:last-child) {
        margin-right: 15px;
      }

      .thumbnail {
        width: 150px;
        height: 150px;
      }

      .details {
        .release-type {
          margin-top: 15px;
          width: 50%;
        }
      }
      .action {
        position: absolute;
        top: 0;
        right: 0;
        font: $shortSmall;
        color: $grayLight;
      }
    }
  }

  .tracks-list {
    .content {
      padding: 15px 0;

      .track {
        background-color: $blackLight;
        padding: 15px;
        margin-bottom: 15px;
        position: relative;

        .label {
          width: 20%;
          max-width: 120px;
          font: $shortRegular;
          color: $white;
        }

        .data {
          font: $shortBig;
          color: $white;
        }

        .actions {
          display: flex;
          position: absolute;
          top: 15px;
          right: 15px;
          opacity: 0;
          transition: 0.1s ease;

          .item {
            font: $shortSmall;
            color: $grayLight;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          > :not(:last-child) {
            margin-right: 10px;
          }
        }

        &:hover {
          .actions {
            opacity: 1;
          }
        }
      }
    }
  }
}
