.nav-menu {
  .banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 25px 30px;

    .logo-wrapper {
      margin-bottom: 10px;
      
      .logo {
        width: 100%;
      }
    }

    .upgrade {
      width: 100%;
    }
  }

  .menu {
    a,
    span {
      display: flex;
      align-items: center;
      padding: 10px 15px;

      svg {
        margin: 0px 10px;
      }
    }
  }

  .quick-menu {
    a {
      display: block;
      padding: 15px 0px 10px 65px;
    }
  }

  .artist-box {
    padding: 20px;
  }
}
