.now-playing-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: inherit;
  max-height: 100px;
  padding: 0px 10px;

  &__left {
    width: 16%;
    min-width: 150px;
    height: inherit;
  }
  &__middle {
    width: 62%;
    max-width: 900px;
  }
  &__right {
    width: 18%;
    min-width: 180px;
  }
}

.now-playing {
  height: 100%;
  padding: 10px 0px;
  display: flex;

  &__cover-container {
    height: inherit;
    width: 50px;
    position: relative;
    overflow: hidden;

    .dummy {
      margin-top: 100%;
    }

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 0px 15px;
  }

  &__action {
    max-width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ivb-progress-bar {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0px 5px;

  &:hover {
    .ivb-progress-bar__full {
      height: 0.4em;
    }

    .ivb-progress-bar__thumb {
      display: block;
    }
  }
  &__full {
    width: 100%;
    height: 0.25em;
    background: $grayDark;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__progress {
    position: absolute;
    height: inherit;
    background-color: $blueMain;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
  }

  &__thumb {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: $grayLight;
    border-radius: 50%;
    margin-left: -5px;
    left: 0px;
    display: none;
  }
}

.player-controls {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 100px;

  &__action {
    display: flex;
    flex-direction: row;
  }

  &__progress {
    display: flex;
    flex: 1;
    padding-left: 10px;
  }
}

.extra-controls-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  .extra-controls {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .control-volume {
    min-width: 100px;
    display: flex;
    align-items: center;
  }
}
