.release-upload {
  display: flex;
  justify-content: space-between;

  .upload-item {
    padding-bottom: 15px;
    border-bottom: 1px solid $grayDark;
  }

  .upload-cover-wrapper {
    img {
      width: 200px;
      height: 200px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .upload-content {
    padding: 0px 20px;
    flex: 1;

    .upload-header {
      display: flex;
      align-items: center;

      select.release-type {
        width: 120px;
        margin-left: 10px;
      }
    }
  }

  .genre-list-dialog-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blackBlur;
    z-index: 999;

    .genre-list-dialog {
      background-color: $white;
      padding: 20px;
      border-radius: 5px;

      .genre-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;

        .genre-item {
          padding: 15px 10px;
          border: 1px solid $grayDark;
          border-radius: 5px;
          text-align: center;
          cursor: pointer;
          width: 120px;
          word-wrap: break-word;

          &:hover {
            transform: scale(1.02);
          }

          &.selected {
            background-color: $grayDark;
            color: $white;
          }
        }
      }
    }
  }

  .upload-track-item {
    display: table;
    border-spacing: 10px 15px;
    position: relative;
    width: 100%;
    padding-right: 250px;

    .marker-wrapper {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: $blueMain;
      color: $white;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .close {
        display: none;
        path {
          fill: $white;
          fill-opacity: 1;
        }
      }
      &:hover {
        .index {
          display: none;
        }
        .close {
          display: block;
        }
      }
    }

    .upload-field {
      display: table-row;

      > * {
        display: table-cell;
        vertical-align: middle;
      }

      .label {
        color: $white;
        font: $shortBig;
        font-weight: bold;
      }

      svg {
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .genre-input-wrapper {
      max-width: 150px;
      font: $shortSmall;
      color: $grayLight;
    }
  }
}
