.upload-pending {
  background-color: $green;
  padding: 20px 30px;
}

.release-upload {
  display: flex;
  justify-content: space-between;

  .upload-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $blackBlurDark;
    box-shadow: 0 0 18px rgb(10, 10, 13);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }

  .upload-item {
    padding-bottom: 15px;
    border-bottom: 1px solid $grayDark;
  }

  .upload-cover-wrapper {
    img {
      width: 200px;
      height: 200px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .upload-content {
    padding: 0px 20px;
    flex: 1;

    .upload-header {
      display: flex;
      align-items: center;

      select.release-type {
        width: 120px;
        margin-left: 10px;
      }
    }
  }

  .upload-track-item {
    display: table;
    border-spacing: 10px 15px;
    position: relative;
    width: 100%;
    padding-right: 250px;

    .marker-wrapper {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: $blueMain;
      color: $white;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .close {
        display: none;
        path {
          fill: $white;
          fill-opacity: 1;
        }
      }
      &:hover {
        .index {
          display: none;
        }
        .close {
          display: block;
        }
      }
    }

    .upload-field {
      display: table-row;

      > * {
        display: table-cell;
        vertical-align: middle;
      }

      .label {
        color: $white;
        font: $shortBig;
        font-weight: bold;
      }

      svg {
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .genre-input-wrapper {
      max-width: 150px;
      font: $shortSmall;
      color: $grayLight;
    }
  }
}
