@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

@import './upload';
@import './player-control';
@import './nav-menu';
@import './mono-page';
@import './dialog';

.player {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'nav-bar body quick-access'
    'play-bar play-bar play-bar';
  overflow: hidden;

  &__top {
    grid-area: body;
    height: 40px;
    background-color: $blackGray;
    z-index: 2;
  }

  &__nav {
    grid-area: nav-bar;
    width: 200px;
    background-color: $blackLight;
  }

  &__quick-access {
    grid-area: quick-access;
    width: 200px;
    background-color: $blackLight;
    overflow: hidden;
  }

  &__bottom {
    grid-area: play-bar;
    height: 100px;
    background-image: $blackPop;
  }

  &__content {
    grid-area: body;
    background-color: $blackGray;
    margin-top: 40px;
    display: flex;
    overflow: hidden;

    .content-page {
      flex: 1;

      .mono-page {
        height: 100%;
        overflow-y: auto;
      }
    }

    .compound-page {
      display: flex;
      flex-direction: column;
      padding-top: 40px;

      .body-scroll {
        flex: 1;
        overflow-y: auto;

        .body {
          height: 100%;
          overflow-y: auto;
          padding: 30px 40px;

          &__bound {
            background-color: $blackBlueLight;
            padding: 10px;
          }
        }
      }
    }
  }

  .nav-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 20px;

    .linear-nav {
      display: flex;
      align-items: center;
      min-width: 60px;
      justify-content: space-between;

      .svg-nav {
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .quick-access {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__role {
      display: flex;
      justify-content: center;
      align-items: center;

      .role-free {
        margin: 10px 0;
      }

      .role-premium {
        padding: 20px;
        width: 100%;
        text-align: center;
        background-color: $blueMain;
      }

      .role-artist {
        padding: 20px;
        width: 100%;
        text-align: center;
        background-color: $purple;
      }
    }

    &__playlists {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;

      .banner {
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        background-color: $black;
      }

      .content-wrapper {
        flex: 1;
        overflow-y: auto;
        height: 100%;
        padding: 0px 20px;

        .content {
          padding: 15px 0;

          .item-wrapper {
            padding: 5px 0;

            .item {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}
