@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

@import './upload';
@import './player-control';
@import './nav-menu';
@import './mono-page';
@import './dialog';
@import './animation';
@import './account';
@import './browse';
@import './workspace';

.player {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'nav-bar body quick-access'
    'play-bar play-bar play-bar';
  overflow: hidden;
  position: relative;

  @media only screen and (min-width: 768px) {
    &__nav,
    &__quick-access {
      display: block !important;
    }

    &__bottom {
      height: 70px;

      .mini-player {
        display: none !important;
      }

      .mobile-menu {
        display: none !important;
      }
    }
  }

  &__top {
    grid-area: body;
    height: 40px;
    background-color: $blackGray;
    z-index: 4;
  }

  &__nav {
    grid-area: nav-bar;
    width: 200px;
    background-color: $blackLight;
    z-index: 3;
    display: none;
  }

  &__quick-access {
    grid-area: quick-access;
    width: 180px;
    background-color: $blackLight;
    overflow: hidden;
    z-index: 2;
    display: none;
  }

  &__bottom {
    grid-area: play-bar;
    background-image: $blackPop;
    z-index: 5;

    .play-loading {
      width: 32px;
      height: 32px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .loader {
        position: absolute;
      }
    }

    .mini-player {
      display: block;
      box-shadow: 0px 6px 10px -8px #000;
      height: 60px;

      .cover-container {
        width: 60px;
        height: 100%;
      }

      .title-container {
        position: relative;
        padding: 15px;

        .side-blur {
          position: absolute;
          // box-shadow: 0px 5px 0px 0px $blackLight inset,
          //   0px -5px 0px 0px $blackLight inset,
          //   12px 0 15px 5px $blackLight inset,
          //   -12px 0 15px 5px $blackLight inset;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .action-container {
        padding: 10px;

        > *:last-child {
          margin-left: 10px;
        }
      }
    }

    .mobile-menu {
      display: block;
      height: 100%;
    }
  }

  &__content {
    grid-area: body;
    background-color: $blackGray;
    margin-top: 40px;
    display: flex;
    overflow: hidden;
    z-index: 1;

    .content-page {
      flex: 1;
      position: relative;

      &__header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: $blackGray;
        width: 100%;

        .banner-wrapper {
          position: relative;
          padding: 100px 40px 10px;

          .layer,
          .background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }

          .layer {
            z-index: -1;
            background-image: linear-gradient(
              rgba(60, 60, 60, 0.62),
              rgba(19, 19, 19, 0.88)
            );
          }

          .background {
            z-index: -2;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      &__content {
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }

      .mono-page {
        height: 100%;
        overflow-y: auto;
        background-image: linear-gradient(rgba(51, 51, 51, 0.71), #000);
      }
    }
  }

  .button-load-more {
    color: $grayLight;

    &:hover {
      color: $grayLight !important;
    }
  }

  .nav-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 20px;

    .search-box {
      flex: 1;
      height: 100%;
    }

    .linear-nav {
      display: flex;
      align-items: center;
      min-width: 60px;
      justify-content: space-between;
    }
  }

  .quick-access {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__account {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $blueMain;
      padding: 5px 15px;

      .user-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.2s ease;
        border-radius: 6px;
        padding: 0px 4px;

        &:hover {
          background-color: $blueMainBright;
        }

        &.active {
          background-color: $blueMainBright;
        }

        .thumbnail {
          overflow: hidden;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }

        .title {
          flex: 1;
          display: flex;
          align-items: center;
          padding-right: 5px;
        }
      }

      .role-free {
        margin: 10px 0;
      }

      .role-banner {
        padding: 20px;
        width: 100%;
        text-align: center;

        &.premium {
          background-color: $blueMain;
        }

        &.artist {
          background-color: $purple;
        }

        &.curator {
          background-color: $green;
        }
      }
    }

    &__playlists {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;

      .banner {
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        background-color: $black;
      }

      .content-wrapper {
        flex: 1;
        overflow-y: auto;
        height: 100%;
        padding: 0px 20px;

        .content {
          padding: 15px 0;

          .item-wrapper {
            padding: 5px 0;

            .item {
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

  .page-banner {
    padding: 10px 40px;
    background-color: $blackMain;
  }

  .profile-header-wrapper {
    min-height: 120px;

    .profile-header {
      display: flex;
      flex-direction: row;
      padding: 0 40px 10px;

      &__avatar {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        transition: 0.1s ease;

        img {
          width: inherit;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;

        > :not(:last-child) {
          margin-bottom: 10px;
        }

        .action {
          display: flex;
          flex-direction: row;
          align-items: center;

          > :not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }

    &.collapsed {
      min-height: 40px;

      .profile-header {
        padding-bottom: 0px;

        &__avatar {
          width: 40px;
          height: 40px;
        }

        &__info {
          flex-direction: row;
          align-items: center;

          > * {
            padding-bottom: 0px;
            padding-right: 20px;
          }
          .followers {
            display: none;
          }
        }
      }
    }
  }

  .empty {
    width: 100%;
    height: 100%;
    font: $shortBig;
    font-weight: bold;
    color: $grayLight;
  }
}
