@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

@import './upload';
@import './player-control';
@import './nav-menu';
@import './mono-page';

.player {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'nav-bar body quick-access'
    'play-bar play-bar play-bar';
  overflow: hidden;

  &__top {
    grid-area: body;
    height: 40px;
    background-color: $blackGray;
    z-index: 2;
  }

  &__nav {
    grid-area: nav-bar;
    width: 200px;
    background-color: $blackLight;
  }

  &__quick-access {
    grid-area: quick-access;
    width: 200px;
    background-color: $blackLight;
  }

  &__bottom {
    grid-area: play-bar;
    height: 100px;
    background-image: $blackPop;
  }

  &__content {
    grid-area: body;
    background-color: $blackGray;
    margin-top: 40px;
    display: flex;
    overflow: hidden;

    .content-page {
      flex: 1;

      .mono-page {
        height: 100%;
        overflow-y: auto;
      }
    }

    .compound-page {
      display: flex;
      flex-direction: column;

      .body-scroll {
        flex: 1;
        overflow-y: auto;

        .body {
          height: 100%;
          overflow-y: auto;
          padding: 30px 40px;

          &__bound {
            background-color: $blackBlueLight;
            padding: 10px;
          }
        }
      }
    }
  }

  .nav-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 20px;

    .linear-nav {
      display: flex;
      align-items: center;
      min-width: 60px;
      justify-content: space-between;

      .svg-nav {
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .quick-access {
    &__role {
      display: flex;
      justify-content: center;
      align-items: center;

      .role-free {
        margin: 10px 0;
      }

      .role-premium {
        padding: 20px;
        width: 100%;
        text-align: center;
        background-color: $blueMain;
      }

      .role-artist {
        padding: 20px;
        width: 100%;
        text-align: center;
        background-color: $purple;
      }
    }

    &__playlists {
      .banner {
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;
        background-color: $black;

        svg {
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .playlist-dialog-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $blackHalf;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .playlist-dialog {
      padding: 0 20px;
      background-image: $blackPop;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.74);

      &__header {
        text-align: center;
        padding: 20px 0 15px;
      }

      &__body {
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 0 0 20px;

        .left {
          flex: 2;
          display: flex;
          flex-direction: column;
          padding-right: 10px;
          width: 350px;

          &__playlist-title-input {
            margin-bottom: 10px;
          }

          &__playlist-desc-input {
            flex: 1;
          }
        }

        .right {
          &__cover {
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
              opacity: 0.5;
            }

            img {
              width: 150px;
              height: 150px;
            }
          }
        }
      }
    }
  }
}
