.button-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  border-radius: 50%;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: $black;
      fill-opacity: 1;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
