.button {
  padding: 12px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

  &-main {
    background-color: $blueMain;

    &:hover {
      background-color: $blueMainBright;
    }

    &.dangerous {
      background-color: $red;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &-frame {
    border: 1.2px solid $white;
    background-color: $blackMain;
    transition: 0.1s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &-fb {
    background-color: $blueFb;
  }

  &-load-more {
    display: table;
    margin: auto;
  }

  &--fit {
    display: inline-block;
  }

  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.button-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.05s ease;

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: $black;
      fill-opacity: 1;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}
