.card-error {
  padding: 12px 20px;
  color: $white;
  background-color: $red;
  border-color: $white;
}

.card-success {
  padding: 12px 20px;
  color: $white;
  background-color: $green;
  border-color: $white;
}

.card-main {
  height: 100%;

  &__cover-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;

    &.profile {
      border-radius: 50%;
    }

    .dummy {
      margin-top: 100%;
    }

    .cover {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &-profile {
        border-radius: 50%;
      }
    }

    .action {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      display: flex;
      opacity: 0;
      transition: ease 0.1s;

      &.playlist-release {
        background-color: $blackBlur;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
      }

      &.profile {
        background-color: $blackBlurHalf;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      &__link {
        width: 100%;
        height: 100%;
        z-index: 5;
        position: absolute;
        border-radius: 50%;
      }

      &__play {
        z-index: 10;
      }

      &__extra {
        display: flex;
        justify-content: space-between;
        z-index: 10;

        .button-icon:first-child {
          margin-right: 5px;
        }

        &.playlist-release {
        }

        &.profile {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &.active {
        opacity: 1;
      }
    }

    &:hover {
      .action {
        opacity: 1;
      }
    }
  }

  .card-main__info {
    display: flex;
    flex-direction: column;

    &.profile {
      align-items: center;
    }

    .content {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      margin-top: 5px;
      -webkit-box-orient: vertical;

      &.playlist-release {
        -webkit-line-clamp: 2;
      }

      &.profile {
        -webkit-line-clamp: 1;
      }
    }
  }
}
