.card-error {
  padding: 12px 20px;
  color: $white;
  background-color: $red;
  border-color: $white;
}

.card-success {
  padding: 12px 20px;
  color: $white;
  background-color: $green;
  border-color: $white;
}

.card-main {
  height: 100%;

  &__cover-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;

    &.profile {
      border-radius: 50%;
    }

    .dummy {
      margin-top: 100%;
    }

    .cover {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &-profile {
        border-radius: 50%;
      }
    }

    .action {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      display: flex;
      opacity: 0;
      transition: ease 0.1s;

      &.playlist-release {
        background-color: $blackBlur;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
      }

      &.profile {
        background-color: $blackBlurHalf;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      &__link {
        width: 100%;
        height: 100%;
        z-index: 5;
        position: absolute;
        border-radius: 50%;
      }

      &__play {
        z-index: 10;
      }

      &__extra {
        display: flex;
        justify-content: space-between;
        z-index: 10;

        .button-icon:first-child {
          margin-right: 5px;
        }

        &.profile {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &.active {
        opacity: 1;
      }
    }

    &:hover {
      .action {
        opacity: 1;
      }
    }
  }

  .card-main__info {
    display: flex;
    flex-direction: column;

    &.profile {
      align-items: center;
    }

    .bottom {
      margin-top: 5px;
    }
  }
}

.card-wide {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;

  &__bg {
    background: url('../imgs/placeholder.png') no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(5px);

    * {
      background-color: $blackBlurHalf;
      width: inherit;
      height: inherit;
    }
  }

  &__info {
    z-index: 2;
    flex: 1;

    .title,
    .description {
      display: table;
    }

    .description {
      margin-top: 5px;
    }
  }

  &__thumbnail {
    z-index: 2;
    position: relative;
    width: 100px;

    .dummy {
      margin-top: 100%;
    }

    .thumbnail {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.card-simple {
  border-radius: 5px;
  background-color: $blackBlurHalf;
  position: relative;
  overflow: hidden;

  a.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.1s ease;

    &:hover {
      text-decoration: none;
      color: $white;

      .background__layer {
        background-color: $blackBlurSemi;
      }
    }

    .background {
      position: absolute;
      z-index: 1;
      width: inherit;
      height: inherit;

      &__layer {
        width: inherit;
        height: inherit;
        background-color: $blackBlurHalf;
        position: absolute;
        z-index: 3;
        transition: 0.1s ease;
      }

      &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: inherit;
        z-index: 2;
      }
    }

    .title {
      z-index: 2;
      line-height: 30px;
      max-height: 60px;
      overflow: hidden;
    }
  }
}
