.collection-main {
  padding: 20px 0px;

  &__header {
    padding: 0px 0px 10px;
    margin-bottom: 10px;
    font: $shortSemi;
    color: $white;
    font-weight: bold;

    &.full {
      border-bottom: 1px solid $grayDark;
    }

    .header-title {
      display: flex;
      align-items: center;
      display: inline-block;

      svg {
        transition: ease 0.2s;
      }
      &:hover {
        &.all-white {
          color: $white;
        }

        svg {
          margin-left: 5px;
        }
      }
    }
  }

  &__content {
    &.grid {
      display: grid;

      &.crowded {
        grid-template-rows: 1fr;
        grid-gap: 30px;

        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }

      &.wide {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }

      &.genres {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        grid-auto-rows: 130px;
      }
    }

    > [class^='card-'] {
      animation-name: fadein;
      animation-duration: 0.3s;
    }
  }

  &.padder {
    padding-left: 40px;
    padding-right: 40px;
  }

  &--wide {
    background-color: $blackGray;
    box-shadow: 0 0 10px $black;
  }
}

.collection-table {
  font: $shortRegular;

  &.table-layout {
    table-layout: fixed;

    .table-row {
      height: 50px;
      border-bottom: 1px solid $grayDark;

      &.header {
        color: $grayLight;
        border-top: 1px solid $grayDark;

        .action,
        .favorite {
          width: 50px;
        }

        .release {
          width: 20%;
        }

        .artist {
          width: 15%;
        }

        .extra,
        .duration,
        .added-date {
          width: 10%;
        }
      }

      &.content {
        color: $white;

        .action {
          position: relative;

          .control {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
          }
        }

        .extra {
          > * {
            visibility: hidden;
          }
        }

        &:hover {
          background-color: $blackLight;

          .action > .serial {
            visibility: hidden;
          }

          .action > .control {
            visibility: visible;
          }

          .extra {
            > * {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
