.collection-main {
  padding: 20px 0px;

  &__header {
    padding: 0px 0px 20px;
    font: $shortExtra;
    color: $white;
    font-weight: bold;

    .header-title {
      display: flex;
      align-items: center;

      svg {
        transition: ease 0.2s;
      }
      &:hover {
        svg {
          margin-left: 5px;
        }
      }
    }
  }

  &__content {
    &.grid {
      display: grid;
      grid-template-rows: 1fr;
      grid-gap: 30px;

      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
}

.collection-table {
  &__row {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: 1px solid $grayDark;
    box-sizing: content-box;
    font: $shortRegular;

    &--header {
      color: $grayLight;
      border-top: 1px solid $grayDark;
    }

    &:hover {
      &.collection-table__row--data {
        background-color: $blackLight;
      }

      .collection-table__cell--action .action {
        visibility: visible;
      }
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    color: $white;

    > :last-child {
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--action {
      width: 50px;
      justify-content: center;
      position: relative;

      .action {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &--favorite {
      width: 50px;
      justify-content: center;
    }
    &--title {
      flex: 1;
      padding-left: 10px;
    }
    &--artist {
      width: 20%;
      padding-left: 10px;
    }
    &--release {
      width: 20%;
      padding-left: 10px;
    }
    &--duration {
      width: 100px;
      padding-left: 10px;
    }
    &--added-date {
      width: 100px;
      padding-left: 10px;
    }
  }
}
