$blackPop: linear-gradient(#232323, #131313);
$blackLinear: linear-gradient(rgba(0, 0, 0, 0.67), black);

$white: #fff;
$blueMain: #23AECD;
$blueMainBright: #3fbcd8;
$blueFb: #3B5998;
$grayLight: #C9C9C9;
$blackMain: #191922;