$blackPop: linear-gradient(#1e1e25, #191922);
$blackLinear: linear-gradient(rgba(0, 0, 0, 0.67), black);
$blackBlur: rgba(34, 33, 39, 0.88);
$blackHalf: rgba(0, 0, 0, 0.4);
$blackLight: #191922;
$blackGray: #121216;
$blackBlueLight: #23232d;
$black: #000;
$grayLight: #c9c9c9;
$grayDark: #4d4d4d;

$white: #fff;
$blueMain: #23aecd;
$blueMainBright: #3fbcd8;
$blueFb: #3b5998;
$grayLight: #c9c9c9;
$blackMain: #191922;
$red: #ff0000;
$green: #46a049;
$purple: #9100ea;
