.collection-main {
  padding: 20px 0px;

  &__header {
    padding: 0px 0px 10px;
    margin-bottom: 10px;
    font: $shortSemi;
    color: $white;
    font-weight: bold;

    &.full {
      border-bottom: 1px solid $grayDark;
    }

    .header-title {
      display: flex;
      align-items: center;
      display: inline-block;

      svg {
        transition: ease 0.2s;
      }
      &:hover {
        &.all-white {
          color: $white;
        }

        svg {
          margin-left: 5px;
        }
      }
    }
  }

  &__content {
    &.grid {
      display: grid;

      &.crowded {
        grid-template-rows: 1fr;
        grid-gap: 30px;

        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }

      &.wide {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }

      &.genres {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        grid-auto-rows: 130px;
      }
    }

    > [class^='card-'] {
      animation-name: fadein;
      animation-duration: 0.3s;
    }
  }

  &.padder {
    padding-left: 40px;
    padding-right: 40px;
  }

  &--wide {
    background-color: $blackGray;
    box-shadow: 0 0 10px $black;
  }
}

.collection-table {
  &__row {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: 1px solid $grayDark;
    box-sizing: content-box;
    font: $shortRegular;

    &--header {
      color: $grayLight;
      border-top: 1px solid $grayDark;
    }

    &:hover {
      &.collection-table__row--data {
        background-color: $blackLight;
      }

      .collection-table__cell--action .action {
        visibility: visible;
      }

      .collection-table__cell--title .extra {
        visibility: visible;
      }
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    color: $white;
    overflow: hidden;

    .main {
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--action {
      width: 50px;
      justify-content: center;
      position: relative;

      .action {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .action.active {
        visibility: visible;
      }
    }
    &--favorite {
      width: 50px;
      justify-content: center;
    }
    &--title {
      flex: 1;
      justify-content: space-between;
      padding-left: 10px;

      .extra {
        visibility: hidden;
        display: flex;
      }
    }
    &--artist {
      width: 20%;
      padding-left: 10px;
    }
    &--release {
      width: 20%;
      padding-left: 10px;
    }
    &--duration {
      width: 100px;
      padding-left: 10px;
    }
    &--added-date {
      width: 100px;
      padding-left: 10px;
    }
  }
}
