@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$tallRegular: 0.8em Roboto;
$shortSmall: 0.7em Montserrat;
$shortRegular: 0.8em Montserrat;
$shortBig: 0.9em Montserrat;
$shortSemi: 1.1em Montserrat;
$shortExtra: 1.5em Montserrat;
$banner: 3em Montserrat;
$tip: 0.7em Montserrat;

.font-tall-r {
  font: $tallRegular;
}

.font-short-s {
  font: $shortSmall;
}

.font-short-regular {
  font: $shortRegular;
}

.font-short-big {
  font: $shortBig;
}

.font-short-semi {
  font: $shortSemi;
}

.font-short-extra {
  font: $shortExtra;
}

.font-banner {
  font: $banner;
}

.font-tip {
  font: $tip;
}

.font-white {
  color: $white;
}

.font-black {
  color: $black;
}

.font-blue-main {
  color: $blueMain;
}

.font-gray-light {
  color: $grayLight;
}

.font-gray-dark {
  color: $grayDark;
}

.font-green {
  color: $green;
}

.font-purple {
  color: $purple;
}

.uppercase {
  text-transform: uppercase;
}
