/* start of INPUT GENRE */
.input-genre {
  &.input-error {
    path {
      fill: $red;
    }
  }
}
/* end of INPUT GENRE */

/* start of INPUT SEARCH */
.input-search {
  display: flex;
  align-items: center;
  height: 100%;

  svg {
    height: inherit;
  }

  input {
    border: 0px;
    height: inherit;
    background-color: transparent;
    outline: none;
    padding: 0 10px;
    flex: 1;
  }
}
/* end of INPUT SEARCH */

/* start of INPUT TEXT */
input.input-text {
  padding: 6px 15px;
}

textarea.input-text {
  box-sizing: border-box;
  padding: 15px;
}

.input-text {
  border-radius: 5px;
  border: none;
  outline: none;

  &--clear {
    background: transparent;
    border: 1.2px solid $white;
  }

  &--full-width {
    width: 100%;
  }

  &--full {
    width: 100%;
    height: 100%;
  }

  &--error {
    border-color: $red;
    box-shadow: 0px 0px 5px $red;
  }

  &::placeholder {
    font: $shortSmall;
  }
}
/* end of INPUT TEXT */

/* start of INPUT FILE */
.input-custom {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &__label {
    cursor: pointer;

    &--error {
      color: $red !important;
    }

    &--img.input-custom__label--error {
      box-shadow: 0px 0px 5px $red;
    }
  }
}
/* end of INPUT FILE */

.ticker-main {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 15px;
  margin-bottom: 0;

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    transform: translateY(-50%);

    &-tick {
      border-radius: 3px;
    }
    &-point {
      border-radius: 50%;
    }

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
    &-tick:after {
      left: 6px;
      top: 3px;
      width: 5px;
      height: 9px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(31deg);
      -ms-transform: rotate(31deg);
      transform: rotate(31deg);
    }
    &-point:after {
      top: 5px;
      left: 5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $white;
    }
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: $blueMain;

    &:after {
      display: block;
    }
  }
}

.custom-select {
  width: auto;
}
