.table-layout {
  display: table;
  border-spacing: 10px 20px;
  width: 100%;

  &.table-layout--collapse {
    border-collapse: collapse;
  }

  .table-row {
    display: table-row;

    > * {
      display: table-cell;
      vertical-align: middle;

      &:not(:first-child):not(:last-child) {
        padding-left: 10px;
      }

      &.content-width {
        width: 1%;
      }

      &.right {
        text-align: right;
      }

      &.center {
        text-align: center;
      }

      &.full {
        width: 100%;
      }

      &.side {
        padding: 0 10px;
      }

      &.cover {
        padding: 10px 0;
      }
    }
  }
}

.catalog {
  &__header {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.content-padding {
  padding: 30px 40px 100px;
}

.custom-grid {
  display: grid;
  justify-items: center;
  align-items: center;

  &.two-cols {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }

  &.three-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .custom-grid {
    grid-template-columns: 1fr !important;
  }
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
  }
}

.d-flex {
  .flex-1 {
    flex: 1 !important;
  }
}
