.table-layout {
  display: table;
  border-spacing: 10px 20px;
  width: 100%;

  .table-row {
    display: table-row;

    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.catalog {
  &__header {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.content-padding {
  padding: 30px 40px 180px;
}

.custom-grid {
  display: grid;

  &.two-cols {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
}
