@import './colors';
@import './fonts';

@import './inputs';
@import './cards';
@import './collections';
@import './buttons';
@import './links';
@import './context-menu';

label {
  margin: 0;
}

.dropdown-menu {
  padding: 0px;
  border: 0px;
  background: transparent;

  &--fixed {
    margin-top: 10px;
  }
}

.tab-menu-wrapper {
  padding: 0px 40px;
  border-bottom: 1px solid $grayDark;

  .tab-menu {
    display: flex;

    li a {
      display: block;
      padding: 15px 0px 15px;
      margin: 0px 40px 0px 0px;

      &.active {
        border-bottom: 2px solid $blueMain;
        color: $white;
      }
    }
  }
}

.svg {
  &--small {
    width: 22px;
    height: 22px;
  }

  &--regular {
    width: 24px;
    height: 24px;
  }

  &--cursor {
    cursor: pointer;
  }

  &--scale {
    &:hover {
      transform: scale(1.1);
    }
  }

  &--bright {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &--gray-light {
    path {
      fill: $grayLight;
    }
  }
  &--blue {
    path {
      fill: $blueMain !important;
    }
  }
}
