@import './colors';
@import './fonts';

@import './layout';
@import './tooltips';
@import './inputs';
@import './cards';
@import './collections';
@import './buttons';
@import './links';
@import './context-menu';

label {
  margin: 0;
}

.dropdown-menu {
  padding: 0px;
  border: 0px;
  background: transparent;
}

.tab-menu-wrapper {
  padding: 0px 40px;
  border-bottom: 1px solid $grayDark;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .tab-menu {
    display: flex;

    li {
      &:not(:last-child) {
        margin: 0 30px 0 0;
      }

      .disabled-wrapper {
        position: relative;

        .item.display,
        .item.replace {
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.1s ease;
        }

        &:hover {
          .item.display {
            opacity: 0;
          }

          .item.replace {
            opacity: 0.5;
          }
        }
      }

      .item {
        display: block;
        padding: 15px 0px 15px;
        white-space: nowrap;

        &.active {
          border-bottom: 2px solid $blueMain;
          color: $white;
        }

        &.special.active {
          color: $blueMain;
        }

        &.disabled {
          opacity: 0.5;
          cursor: pointer;

          &.replace {
            opacity: 0;
          }
        }
      }
    }
  }
}

.svg {
  &--small {
    width: 22px;
    height: 22px;
  }

  &--regular {
    width: 24px;
    height: 24px;
  }

  &--big {
    width: 33px;
    height: 33px;
  }

  &--cursor {
    cursor: pointer;
  }

  &--scale {
    &:hover {
      transform: scale(1.1);
    }
  }

  &--bright {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &--gray-light {
    path {
      fill: $grayLight;
    }
  }
  &--blue {
    path {
      fill: $blueMain !important;
    }
  }
  &--disabled {
    opacity: 0.6;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &.one-line {
    -webkit-line-clamp: 1;
  }

  &.two-line {
    -webkit-line-clamp: 2;
  }
}

.not-found {
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

pre {
  white-space: pre-wrap;
}

.skeleton {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grayDark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $graySuperLight;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grayLight;
}
