@import './colors';
@import './fonts';

@import './layout';
@import './tooltips';
@import './inputs';
@import './cards';
@import './collections';
@import './buttons';
@import './links';
@import './context-menu';

label {
  margin: 0;
}

.dropdown-menu {
  padding: 0px;
  border: 0px;
  background: transparent;
}

.tab-menu-wrapper {
  padding: 0px 40px;
  border-bottom: 1px solid $grayDark;

  .tab-menu {
    display: flex;

    li {
      &:not(:last-child) {
        margin: 0 30px 0 0;
      }
      .item {
        display: block;
        padding: 15px 0px 15px;

        &.active {
          border-bottom: 2px solid $blueMain;
          color: $white;
        }

        &.special.active {
          color: $blueMain;
        }

        &.disabled {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
}

.svg {
  &--small {
    width: 22px;
    height: 22px;
  }

  &--regular {
    width: 24px;
    height: 24px;
  }

  &--big {
    width: 33px;
    height: 33px;
  }

  &--cursor {
    cursor: pointer;
  }

  &--scale {
    &:hover {
      transform: scale(1.1);
    }
  }

  &--bright {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &--gray-light {
    path {
      fill: $grayLight;
    }
  }
  &--blue {
    path {
      fill: $blueMain !important;
    }
  }
  &--disabled {
    opacity: 0.6;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &.one-line {
    -webkit-line-clamp: 1;
  }

  &.two-line {
    -webkit-line-clamp: 2;
  }
}

.not-found {
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}
