@import './colors';
@import './fonts';

@import './inputs';
@import './cards';
@import './groups';
@import './button';

a:hover {
  text-decoration: none;
}

a.active .button {
  border-color: $blueMain;
}
.button {
  padding: 12px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

  &-main {
    background-color: $blueMain;

    &:hover {
      background-color: $blueMainBright;
    }
  }

  &-frame {
    border: 1.2px solid $white;
    background-color: $blackMain;
    transition: 0.1s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &-fb {
    background-color: $blueFb;
  }

  &--fit {
    display: inline-block;
  }

  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.card-error {
  padding: 12px 20px;
  color: $white;
  background-color: $red;
  border-color: $white;
}

.card-success {
  padding: 12px 20px;
  color: $white;
  background-color: $green;
  border-color: $white;
}

.link {
  &-bright-blue-main:hover {
    color: $blueMainBright;
    text-decoration: none;
  }

  &-bright-gray:hover {
    color: $white;
    text-decoration: none;
  }

  &-blue-main {
    &:hover {
      color: $blueMain;
      text-decoration: none;
    }

    &.active {
      color: $blueMain;

      svg > path {
        fill: $blueMain;
      }
    }
  }

  &-underline {
    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}

.dropdown-menu {
  padding: 0px;
  border: 0px;
  background: transparent;

  &--fixed {
    margin-top: 10px;
  }
}

.context-menu {
  background-color: $blackGray;
  border-radius: 5px;

  a,
  span {
    display: block;
    padding: 15px 30px;
    cursor: pointer;
  }
}

.tab-menu-wrapper {
  padding: 0px 20px;
  border-bottom: 1px solid $grayDark;

  .tab-menu {
    display: flex;

    li a {
      display: block;
      padding: 15px 15px;

      &.active {
        border-bottom: 2px solid $blueMain;
        color: $white;
      }
    }
  }
}
