.page-activation {
  transition: 0.1s ease;

  &.content {
    padding: 30px 25px;
    width: 60%;
    margin: auto;
    border: 1px solid $grayDark;
    border-radius: 3px;
    background-color: $blackLight;
  }
}
