.page-authen {
  &__banner {
    min-height: 10vh;
    padding: 20px;
    background-image: $blackPop;
  }

  .logo {
    text-align: center;
  }

  &__body {
    height: 100vh;
    background: url('../../../assets/imgs/bg.jpg') no-repeat center;
    background-size: cover;
    position: relative;
  }

  &__body__layer {
    background-image: $blackLinear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .form-authen {
    max-width: 450px;
    padding: 50px 30px 30px;
    margin: auto;

    &__input {
      padding: 20px 0px;

      > *:not(:last-child) {
        margin-bottom: 15px;
      }

      .input-addition {
        display: flex;

        &-span {
          justify-content: space-between;
          align-items: center;
        }
        &-inline {
          > *:not(:last-child) {
            padding-right: 30px;
          }
        }
      }
    }
  }

  .box-addition {
    text-align: center;
  }
}
