.page-landing {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .side-space {
    padding-right: 200px;
    padding-left: 200px;
  }

  &__nav {
    background-image: $blackPop;

    .content {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-menu__item {
        a,
        span {
          display: block;
          padding: 20px 20px;
        }

        a.active,
        span.active {
          color: $blueMain;
        }
      }

      .nav-left {
        display: flex;
        align-items: center;

        &__logo {
          margin-right: 30px;
        }

        &__menu {
          display: flex;
          align-items: center;
        }
      }

      .nav-right {
        display: flex;
        align-items: center;

        .user-box {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;

          .thumbnail-wrapper {
            width: 50px;
            height: 50px;
            position: relative;
            border-radius: 5px;
            overflow: hidden;

            img {
              width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  &__intro {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    .intro-background {
      background: url('../../../assets/imgs/bg.jpg') no-repeat center;
      background-size: cover;
      filter: blur(10px);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }

    .intro-layer {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $blackBlur;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .content {
      .intro-body {
        width: 100%;
        display: flex;

        .intro-thumbnail {
          min-width: 300px;
          position: relative;
          overflow: hidden;

          .dummy {
            margin-top: 100%;
          }

          img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .intro-text {
          padding: 30px 0px 0px 80px;
          flex: 1;
        }
      }
    }
  }

  &__body {
    background-color: $blackGray;
    padding-top: 100px;
    padding-bottom: 100px;

    .content {
      .body-grid {
        img {
          width: 100%;
        }
      }

      .payments {
        display: flex;
        flex-direction: column;
        align-items: center;

        > :not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &__footer {
    background-color: $black;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;

    .more {
      padding-bottom: 100px;

      &__header {
        text-transform: uppercase;
        padding: 20px 0px;
      }

      &__item {
        padding: 10px 0px;
      }
    }
  }
}
