.page-landing {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

  .side-space {
    padding-right: 200px;
    padding-left: 200px;
  }

  @media screen and (max-width: 992px) {
    .side-space {
      padding-left: 0;
      padding-right: 0;
    }

    .ivb-navbar .user-box-wrapper {
      display: table;
      margin: 10px auto;
    }

    .body-home {
      flex-direction: column !important;

      .banner {
        padding: 0 40px !important;
        margin: 0px auto 50px;
        width: 100% !important;
      }

      .showroom {
        padding: 0 40px;

        .item {
          max-width: 300px;
        }
      }
    }
  }

  &__nav {
    background-color: $blackLight;

    .ivb-navbar {
      background-color: $blackLight !important;

      a.item,
      span.item {
        padding: 20px 20px;
        display: block;
      }

      a.active.item,
      span.item.active {
        color: $blueMain;
      }

      .toggle {
        border-color: $white;
        background-color: $white;
      }

      .user-box {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 200px;

        .thumbnail-wrapper {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  &__intro {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    .intro-background {
      background: url('../../../assets/imgs/bg.jpg') no-repeat center;
      background-size: cover;
      filter: blur(35px);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }

    .intro-layer {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $blueBlur;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .content {
      .intro-body {
        width: 100%;
        display: flex;

        .intro-thumbnail {
          min-width: 300px;
          position: relative;
          overflow: hidden;

          .dummy {
            margin-top: 100%;
          }

          img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .intro-text {
          padding: 30px 0px 0px 80px;
          flex: 1;

          .info {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &__body {
    background-color: $blackGray;
    padding-top: 100px;
    padding-bottom: 100px;

    .content {
      .body-home {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .banner {
          width: 40%;
          padding: 15px 100px 0 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          word-wrap: break-word;

          .desc {
            line-height: 1.6;
          }
        }

        .showroom {
          flex: 1;
          row-gap: 30px;
          column-gap: 30px;

          .item {
            position: relative;

            .layer {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: $blackBlurSemi;
              opacity: 0;
              transition: 0.1s ease;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .img {
              width: 100%;
            }

            &:hover {
              .layer {
                opacity: 1;
              }
            }
          }
        }
      }

      .payments {
        display: flex;
        flex-direction: column;
        align-items: center;

        > :not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &__footer {
    background-color: $black;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;

    .more {
      padding-bottom: 100px;

      &__header {
        text-transform: uppercase;
        padding: 20px 0px;
      }

      &__item {
        padding: 10px 0px;
      }
    }
  }
}
