@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

@import './landing';
@import './authen';
@import './purchase';
@import './report';
@import './activation';
@import './reset-password';

body,
.root,
.App {
  height: 100vh;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
