@import '../../../assets/styles/colors';

@import './landing';
@import './authen';
@import './purchase';

body,
.root,
.App {
  height: 100vh;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
